<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qr code Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href=" style.css" />
  </head>

  <body class="background">
    <div class="container con d-flex justify-content-center align-items-center">
      <div class="con-1">
        <img src=" logo.png" class="webisteLogo" alt="logo" />
        <img src=" BG.png" class="logo" alt="logo" />
        <div class="con-1-main">
          <h1 class="con-1-text">Easy to remember, evokes “airline pass.”</h1>
        </div>
      </div>

      <div class="container con-2">
        <form action="/scan" method="POST" class="form">
          <div class="mb-3 inner-form">
            <div class="text">
              <img src=" logoR.png" alt="" />
            </div>
            <div class="input">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                name="firstname"
                placeholder="Full Name"
                required
              />
            </div>
            <div class="input">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                name="email"
                required
                placeholder="Email"
              />
            </div>
            <div class="input">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                name="phone"
                required
                placeholder="Phone Number"
              />
            </div>
            <div class="input">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                name="flightnumber"
                required
                placeholder="flight Number"
              />
            </div>
            <div class="input">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                name="airportodepart"
                required
                placeholder="Departure"
              />
            </div>
            <div class="input">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                name="airportoarrival"
                required
                placeholder="Arrival"
              />
            </div>
            <!-- <button class="btn btn-light

                 mt-3" type="submit"> Generate Qrcode</button> -->
          </div>
        </form>
        <form action="payment" method="POST">
          <script
            src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="<%= key %>"
            data-amount="100"
            data-currency="usd"
            data-name="Secure Bagages"
            data-description="Buy QRcode"
            data-locate="auto"
          ></script>
        </form>
      </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>-->
  </body>
</html>
